doctype html
html
  head
    title Sarcasticcrap-Daily dose of memes.
    block scripts
    block style 
  body
    nav#navbar
        ul 
            div#logo
                img(src="/static/sc.png")
                | SARCASTICCRAP-Official©

            li #[a(href="/") Home] 
            li #[a(href="/") About] 
            li #[a(href="/contact") Contact us]
            li #[a(href="/") Uploads]
  
    block content
    footer#footer 
        | Copyright© 2021 sushantagrawal.ml | All rights reserved.
