doctype html 
html
    head 
        style
          include ../static/style.css 
    body 
    nav#navbar
        ul 
            div#logo
                img(src="/static/ss.png")
                | SDA 

            li #[a(href="/") Home] 
            li #[a(href="/") About] 
            li #[a(href="/") Contact us]
            li #[a(href="/") Services]
            li #[a(href="/") Class info]
    section#introSection 
        div Welcome to Sushant's Dance Academy.
        div.small Best Dance Academy for Enthusiasts!
    section#missionSection 
        h4 Our Mission
        div.card
           h3  For real Enthusiasts!
           div.card-box
               div.card-img 
                    img(src="/static/ss.png")
                   
               div.card-content
                   p Best Dance academy....
        div.card
            h3  Be the best!
            div.card-box
                div.card-img
                    img(src="/static/nna.png")
                div.card-content
                     p Expert in teaching....
        div.card
           h3  Dance as you wish!
           div.card-box
               div.card-img
                   img(src="/static/kks.png")

               div.card-content
                    p Best Choreographers!....
    section#sponsorsSection 
        h3 Our Sponsors
        div#sponsors
            img(src="/static/pl.png",alt="sponsor Image",class="spImage")
            img(src="/static/yo.png",alt="sponsor Image",class="spImage")
            img(src="/static/nn.png",alt="sponsor Image",class="spImage")
            img(src="/static/la.png",alt="sponsor Image",class="spImage")
    
    footer#footer 
        |Copyright© www.sushantagrawal.ml 2021| All rights reserved.
    script 
        include ../static/index.js